dist-newstyle/
dist/
*.o
*.hi
*.hie
*.chi
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
*.tix
*.log
.stack-work/
.stack-work-cache/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.ghc.environment.*
.vscode/
.idea/
*.swp
*.swo
*~
.cabal
